In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
train_data=pd.read_csv('train.csv')
test_data=pd.read_csv('test.csv')
train_data.shape,test_data.shape

((6368, 15), (3430, 14))

In [3]:
pd.set_option('display.max_columns',None)

In [4]:
train_data.drop(['Product_id','Customer_name'],axis=1,inplace=True)
test_data.drop(['Product_id','Customer_name'],axis=1,inplace=True)

In [5]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
train_data['Loyalty_customer']=le.fit_transform(train_data['Loyalty_customer'])

test_data['Loyalty_customer']=le.fit_transform(test_data['Loyalty_customer'])

In [6]:
train_data['instock_month']=pd.to_datetime(train_data['instock_date']).dt.month
train_data['instock_day']=pd.to_datetime(train_data['instock_date']).dt.weekday
train_data['instock_monthdate']=pd.to_datetime(train_data['instock_date']).dt.day
train_data['instock_year']=pd.to_datetime(train_data['instock_date']).dt.year
test_data['instock_month']=pd.to_datetime(test_data['instock_date']).dt.month
test_data['instock_day']=pd.to_datetime(test_data['instock_date']).dt.weekday
test_data['instock_monthdate']=pd.to_datetime(test_data['instock_date']).dt.day
test_data['instock_year']=pd.to_datetime(test_data['instock_date']).dt.year

In [7]:
product=train_data[['Product_Category']]
product=pd.get_dummies(product,drop_first=True)


product_test=test_data[['Product_Category']]
product_test=pd.get_dummies(product_test,drop_first=True)

In [8]:
train_data=pd.concat([train_data,product],axis=1)
test_data=pd.concat([test_data,product_test],axis=1)

In [9]:
train_data.drop(['instock_date','Product_Category'],axis=1,inplace=True)
test_data.drop(['instock_date','Product_Category'],axis=1,inplace=True)

In [10]:
train_data['Stall_no']=train_data['Stall_no'].fillna(train_data['Stall_no'].median())
test_data['Stall_no']=test_data['Stall_no'].fillna(test_data['Stall_no'].median())

train_data['charges_1']=train_data['charges_1'].fillna(train_data['charges_1'].median())
train_data['charges_2 (%)']=train_data['charges_2 (%)'].fillna(train_data['charges_2 (%)'].median())
train_data['Minimum_price']=train_data['Minimum_price'].fillna(train_data['Minimum_price'].median())

test_data['charges_1']=test_data['charges_1'].fillna(test_data['charges_1'].median())
test_data['charges_2 (%)']=test_data['charges_2 (%)'].fillna(test_data['charges_2 (%)'].median())
test_data['Minimum_price']=test_data['Minimum_price'].fillna(test_data['Minimum_price'].median())

train_data['Maximum_price']=train_data['Maximum_price'].fillna(train_data['Maximum_price'].median())
train_data['Selling_Price']=train_data['Selling_Price'].fillna(train_data['Selling_Price'].median())

In [11]:
train_data['Discount_avail']=train_data['Discount_avail'].fillna(train_data['Discount_avail'].median())

In [12]:
train_data.head(1)

,Stall_no,Market_Category,Loyalty_customer,Grade,Demand,Discount_avail,charges_1,charges_2 (%),Minimum_price,Maximum_price,Selling_Price,instock_month,instock_day,instock_monthdate,instock_year,Product_Category_Cosmetics,Product_Category_Educational,Product_Category_Fashion,Product_Category_Home_decor,Product_Category_Hospitality,Product_Category_Organic,Product_Category_Pet_care,Product_Category_Repair,Product_Category_Technology
0,37.0,2,1,1,68,0.0,376.0,11.0,2983.0,4713.0,4185.9477,8,5,22,2015,0,0,1,0,0,0,0,0,0

In [13]:
test_data.head(1)

,Stall_no,Market_Category,Loyalty_customer,Grade,Demand,Discount_avail,charges_1,charges_2 (%),Minimum_price,Maximum_price,instock_month,instock_day,instock_monthdate,instock_year,Product_Category_Cosmetics,Product_Category_Educational,Product_Category_Fashion,Product_Category_Home_decor,Product_Category_Hospitality,Product_Category_Organic,Product_Category_Pet_care,Product_Category_Repair,Product_Category_Technology
0,39.0,205,0,0,90,0,380.0,16.0,2576.0,3340,1,2,13,2016,0,0,1,0,0,0,0,0,0

In [14]:
import numpy as np
train_data['Maximum_price_trans']=np.log(train_data['Maximum_price'])
test_data['Maximum_price_trans']=np.log(test_data['Maximum_price'])

In [15]:
train_data['Minprice_square']=train_data.Minimum_price**(1/2)
test_data['Minprice_square']=test_data.Minimum_price**(1/2)

In [16]:
train_data['charges_1_trans']=np.log(train_data['charges_1'])
test_data['charges_1_trans']=np.log(test_data['charges_1'])

In [17]:
train_data['charges_2 (%)sq']=train_data['charges_2 (%)']**(1/2)
test_data['charges_2 (%)sq']=test_data['charges_2 (%)']**(1/2)

In [18]:
train_data.shape,test_data.shape

((6368, 28), (3430, 27))

In [20]:
train_data.head()

,Stall_no,Market_Category,Loyalty_customer,Grade,Demand,Discount_avail,charges_1,charges_2 (%),Minimum_price,Maximum_price,Selling_Price,instock_month,instock_day,instock_monthdate,instock_year,Product_Category_Cosmetics,Product_Category_Educational,Product_Category_Fashion,Product_Category_Home_decor,Product_Category_Hospitality,Product_Category_Organic,Product_Category_Pet_care,Product_Category_Repair,Product_Category_Technology,Maximum_price_trans,Minprice_square,charges_1_trans,charges_2 (%)sq
0,37.0,2,1,1,68,0.0,376.0,11.0,2983.0,4713.0,4185.947700,8,5,22,2015,0,0,1,0,0,0,0,0,0,8.458080,54.616847,5.929589,3.316625
1,38.0,24,1,0,51,0.0,397.0,12.0,7495.0,10352.0,9271.490256,3,6,27,2016,0,0,1,0,0,0,0,0,0,9.244935,86.573668,5.983936,3.464102
2,9.0,447,1,0,10,0.0,250.0,9.0,5752.0,7309.0,6785.701362,8,1,18,2015,0,0,0,0,0,0,0,0,0,8.896862,75.841941,5.521461,3.000000
3,50.0,23,1,2,48,0.0,144.0,13.0,5090.0,20814.0,13028.917824,3,0,28,2016,0,1,0,0,0,0,0,0,0,9.943381,71.344236,4.969813,3.605551
4,7.0,63,1,1,35,1.0,211.0,4.0,2430.0,9261.0,906.553935,3,1,29,2016,0,0,0,0,0,0,0,1,0,9.133567,49.295030,5.351858,2.000000

In [21]:
test_data.head()

,Stall_no,Market_Category,Loyalty_customer,Grade,Demand,Discount_avail,charges_1,charges_2 (%),Minimum_price,Maximum_price,instock_month,instock_day,instock_monthdate,instock_year,Product_Category_Cosmetics,Product_Category_Educational,Product_Category_Fashion,Product_Category_Home_decor,Product_Category_Hospitality,Product_Category_Organic,Product_Category_Pet_care,Product_Category_Repair,Product_Category_Technology,Maximum_price_trans,Minprice_square,charges_1_trans,charges_2 (%)sq
0,39.0,205,0,0,90,0,380.0,16.0,2576.0,3340,1,2,13,2016,0,0,1,0,0,0,0,0,0,8.113726,50.754310,5.940171,4.0
1,49.0,3,1,0,87,0,393.0,16.0,1202.0,1955,8,6,23,2015,0,0,1,0,0,0,0,0,0,7.578145,34.669872,5.973810,4.0
2,1.0,183,0,2,55,0,493.0,9.0,7175.0,15715,11,5,14,2015,0,0,0,0,0,0,0,0,1,9.662371,84.705372,6.200509,3.0
3,8.0,358,1,3,86,0,303.0,16.0,5404.0,13078,11,5,21,2015,0,0,0,0,0,0,0,0,0,9.478687,73.511904,5.713733,4.0
4,33.0,167,0,0,27,0,567.0,16.0,4069.0,6244,5,2,6,2015,0,0,0,0,0,0,0,0,1,8.739376,63.788714,6.340359,4.0

In [22]:
train_data.drop(['Minimum_price','Maximum_price','charges_1','charges_2 (%)'],axis=1,inplace=True)
test_data.drop(['Minimum_price','Maximum_price','charges_1','charges_2 (%)'],axis=1,inplace=True)

In [23]:
train_data.shape,test_data.shape

((6368, 24), (3430, 23))

In [24]:
train_data.columns

Index(['Stall_no', 'Market_Category', 'Loyalty_customer', 'Grade', 'Demand',
       'Discount_avail', 'Selling_Price', 'instock_month', 'instock_day',
       'instock_monthdate', 'instock_year', 'Product_Category_Cosmetics',
       'Product_Category_Educational', 'Product_Category_Fashion',
       'Product_Category_Home_decor', 'Product_Category_Hospitality',
       'Product_Category_Organic', 'Product_Category_Pet_care',
       'Product_Category_Repair', 'Product_Category_Technology',
       'Maximum_price_trans', 'Minprice_square', 'charges_1_trans',
       'charges_2 (%)sq'],
      dtype='object')

In [25]:
X=train_data[['Stall_no', 'Market_Category', 'Loyalty_customer', 'Grade', 'Demand',
       'Discount_avail', 'instock_month', 'instock_day',
       'instock_monthdate', 'instock_year', 'Product_Category_Cosmetics',
       'Product_Category_Educational', 'Product_Category_Fashion',
       'Product_Category_Home_decor', 'Product_Category_Hospitality',
       'Product_Category_Organic', 'Product_Category_Pet_care',
       'Product_Category_Repair', 'Product_Category_Technology',
       'Maximum_price_trans', 'Minprice_square', 'charges_1_trans',
       'charges_2 (%)sq']]
y=train_data['Selling_Price']

In [26]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.1,random_state=10)

In [27]:
from sklearn.ensemble import RandomForestRegressor
reg = RandomForestRegressor(max_depth = 15, random_state=0,n_estimators = 100,verbose = 1)
reg.fit(X_train,y_train)

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done 100 out of 100 | elapsed:    3.0s finished

RandomForestRegressor(max_depth=15, random_state=0, verbose=1)

In [28]:
reg.score(X_train,y_train)

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done 100 out of 100 | elapsed:    0.0s finished

0.9934776635936828

In [29]:
y_pred=reg.predict(X_test)

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done 100 out of 100 | elapsed:    0.0s finished

In [30]:
from sklearn.metrics import r2_score
rsquare=r2_score(y_test,y_pred)

In [31]:
rsquare

0.9826947743936416

In [32]:
from sklearn.metrics import mean_squared_error as MSE
import numpy as np
 
rmse = np.sqrt(MSE(y_test,y_pred)) 
print("RMSE : % f" %(rmse))

RMSE :  391.536958

In [33]:
predictions=reg.predict(test_data)

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done 100 out of 100 | elapsed:    0.0s finished

In [34]:
predictions

array([ 3217.06713927,  1971.44239985, 11754.98143974, ...,
        6553.30188303,  3692.23531957,  1109.59629885])

In [35]:
data=pd.read_csv('test.csv')
predictions_test=data['Product_id']

In [36]:
test_sales_bsm = reg.predict(test_data)
test_sales_bsm

final_df = pd.DataFrame()
final_df["Product_id"] = predictions_test
final_df["Selling_Price"] = test_sales_bsm
final_df.Selling_Price = np.where(final_df.Selling_Price < 0, 0,final_df.Selling_Price)
final_df.to_csv("Output_1.csv")
final_df.head()

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done 100 out of 100 | elapsed:    0.0s finished

         Product_id  Selling_Price
0  SCHE4YSTDVPVZVXW    3217.067139
1  ACCEGCATKHNRXUHW    1971.442400
2  NKCE6GJ5XVJDXNNZ   11754.981440
3  NKCEB8BK3ZXDHDHM    9358.188686
4  TOPEFDXSAHRNPF94    5600.751769

In [37]:
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import ShuffleSplit
from sklearn.ensemble import RandomForestRegressor

estimator = RandomForestRegressor()
param_grid = { 
            "n_estimators"      : [10,20,30],
            "max_features"      : ["auto", "sqrt", "log2"],
            "min_samples_split" : [2,4,8],
            "bootstrap": [True, False],
            }
grid = GridSearchCV(estimator, param_grid, n_jobs=-1, cv=5)
grid.fit(X_train, y_train)

GridSearchCV(cv=5, estimator=RandomForestRegressor(), n_jobs=-1,
             param_grid={'bootstrap': [True, False],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'min_samples_split': [2, 4, 8],
                         'n_estimators': [10, 20, 30]})

In [38]:
grid.score(X_train,y_train)

0.9852894043944966

In [39]:
grid.best_params_

{'bootstrap': True,
 'max_features': 'auto',
 'min_samples_split': 8,
 'n_estimators': 30}

In [40]:
grid.best_score_

0.9567129840103596

In [42]:
from sklearn.ensemble import RandomForestRegressor
regg= RandomForestRegressor(bootstrap=True,max_features='auto',min_samples_split=8,n_estimators=30)
regg.fit(X_train,y_train)

RandomForestRegressor(min_samples_split=8, n_estimators=30)

In [43]:
regg.score(X_train,y_train)

0.9844499537429624

In [44]:
y_predd=regg.predict(X_test)

In [45]:
r2_score(y_test,y_predd)

0.9824947836308956

In [46]:
from sklearn.metrics import mean_squared_error as MSE
import numpy as np
 
rmse = np.sqrt(MSE(y_test,y_predd)) 
print("RMSE : % f" %(rmse))

RMSE :  393.792890

In [47]:
import xgboost as xgb

In [56]:
model =xgb.XGBRegressor(colsample_bytree=0.4,
                 gamma=0,                 
                 learning_rate=0.07,
                 max_depth=3,
                 min_child_weight=1.5,
                 n_estimators=10000,                                                                    
                 reg_alpha=0.75,
                 reg_lambda=0.45,
                 subsample=0.6,
                 seed=42)

In [57]:
model.fit(X_train, y_train)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=0.4, gamma=0, gpu_id=-1,
             importance_type='gain', interaction_constraints='',
             learning_rate=0.07, max_delta_step=0, max_depth=3,
             min_child_weight=1.5, missing=nan, monotone_constraints='()',
             n_estimators=10000, n_jobs=0, num_parallel_tree=1, random_state=42,
             reg_alpha=0.75, reg_lambda=0.45, scale_pos_weight=1, seed=42,
             subsample=0.6, tree_method='exact', validate_parameters=1,
             verbosity=None)

In [58]:
model.score(X_train,y_train)

0.9991390478028969

In [62]:
y_preddd=model.predict(X_test)

In [65]:
r2_score(y_test,y_preddd)

0.9776639317248408

In [63]:
y_preddd

array([ 1446.2529  ,  5767.876   ,  4756.463   ,   670.27045 ,
        4183.6978  ,   702.3624  ,  4716.1025  ,   782.1915  ,
        6739.3477  ,  2411.833   ,  1304.8885  ,  6912.798   ,
        1821.9117  ,  4189.8657  ,   905.7113  ,  2761.4932  ,
        5311.8086  ,  1691.5387  ,  3752.2236  ,  4052.9705  ,
        5016.6763  ,  3444.3857  ,  3865.7349  ,  2983.0234  ,
        8123.17    ,  9073.575   ,  5209.2275  ,  6423.4224  ,
        4468.8755  ,   511.86136 ,  5068.5723  , 11188.917   ,
         163.02591 ,  7073.657   ,   388.46857 , 10229.135   ,
         414.37622 ,  3171.748   ,  3419.5247  ,  4673.045   ,
         812.49255 ,  3539.5828  ,  9913.176   ,  5243.96    ,
        2151.6667  ,  6540.105   ,  2320.338   ,  5128.0684  ,
        3046.7637  ,  1796.7385  ,  2912.1353  ,   487.55798 ,
        4677.232   ,  4417.0615  ,  2300.7324  ,  3928.317   ,
        4273.2856  ,  3455.7844  ,  4073.99    ,   274.91132 ,
        3697.778   ,  5626.7773  ,  5343.682   ,  5102.9126  ,
        5261.2686  ,  5453.035   ,  1024.5677  ,  6409.0054  ,
         899.1159  ,  3978.3584  ,  4822.6074  ,  5515.032   ,
        2292.379   ,  1153.5831  ,  8084.2495  ,  1214.2378  ,
         568.05304 ,  3239.289   ,  1410.632   ,  7193.873   ,
        2462.0417  ,  4242.      ,  1678.6145  ,  2910.7393  ,
        5699.8975  , 10946.387   ,  4262.0083  ,  3917.169   ,
        2830.7703  ,  3768.0237  ,   811.436   ,  2513.4338  ,
        5085.743   ,  2421.8296  ,  8812.299   ,   538.7421  ,
        2818.702   ,  3831.264   ,  1027.2179  ,  2437.3706  ,
        5055.1763  ,  1926.2358  ,  5451.182   ,  3712.0483  ,
       15903.769   ,  8596.321   ,  9872.02    ,  5318.556   ,
        1197.2808  ,  1482.9684  ,  4660.1143  ,  5998.0854  ,
        5501.462   ,   480.19196 ,  5941.2456  ,  4227.3306  ,
         177.48526 ,  3779.3315  ,  4113.077   ,  6352.0337  ,
        8126.303   ,  1391.5997  ,  2065.3857  ,  5486.3213  ,
        6342.6387  ,  3034.7625  ,  7481.4937  ,  4298.082   ,
        5127.661   ,  2026.5747  ,   947.334   ,  2736.2188  ,
        5027.5938  ,  8908.108   , 18511.453   , 10187.516   ,
         597.2085  ,  3235.7656  ,  8955.203   ,   943.18097 ,
         556.2516  ,  3684.8252  ,  2682.531   ,   295.03894 ,
        3951.3794  ,  6027.0034  ,  1591.6771  ,  3306.8967  ,
        4336.714   ,  2615.2222  ,  2740.7212  ,  3792.8608  ,
        3636.2925  ,  1282.7026  ,  4709.5605  ,  4921.919   ,
        5156.411   ,  3115.978   ,  1369.1893  ,  3419.7915  ,
         630.02484 ,  8500.341   ,  1880.5349  ,  5255.6816  ,
        1753.3344  ,  3742.51    ,  4949.616   ,  6836.201   ,
        2487.6116  ,  2562.0198  , 12221.788   ,  4784.2227  ,
        8528.292   ,  6531.7334  ,  6340.702   ,   472.3232  ,
        3308.3606  , 11570.302   ,  4661.5176  ,  7923.6255  ,
        5657.272   ,   852.85205 ,  4689.583   ,  2394.571   ,
        4898.668   ,  8235.64    ,   554.6036  ,  3112.1792  ,
        4642.729   ,  4779.3853  ,  8958.74    ,  5358.5527  ,
        4584.0645  ,  1486.2683  ,   356.09705 ,  1159.0364  ,
        1045.3921  ,  8934.314   , 12420.493   ,  8271.984   ,
        4642.315   ,  4837.6147  ,  3334.4297  ,  5108.0415  ,
       11771.002   ,  1070.5205  ,   859.95996 ,  2855.891   ,
       10247.036   ,  5409.977   ,  4154.299   ,  1159.2501  ,
        7813.031   ,  3085.8962  ,  5079.2393  ,   986.798   ,
        4677.1377  ,  2655.2603  ,  4033.9473  ,  4437.8823  ,
         512.4097  ,  1271.0459  ,  6866.209   ,  6044.804   ,
        3906.47    ,  3823.739   ,  4992.2563  ,  4344.7334  ,
        3057.5283  ,  2923.7798  ,  2992.5288  ,  3981.6667  ,
        2787.0012  ,  5295.0273  ,  5506.494   ,  7457.5034  ,
        4653.524   ,  1807.7634  ,   -73.30081 ,  1037.202   ,
        4488.6826  ,  1374.3202  ,  3471.0706  ,  1337.5138  ,
        7019.485   ,  4259.9644  ,  3268.4917  ,  5305.7705  ,
        6859.4854  ,  6739.983   ,   148.5205  ,  4503.7896  ,
        9589.056   ,  4363.6025  ,  2118.8813  ,  3250.9094  ,
        4965.491   ,  4013.9507  ,  4034.8457  ,  3759.301   ,
        3598.909   ,  4049.7837  ,  5855.5327  ,  1153.4447  ,
        4080.8232  ,  1186.7465  ,  1280.3833  , 16423.824   ,
        7770.8647  ,  3673.4465  ,  6674.0957  ,  4319.207   ,
        3087.3633  , 13023.604   ,  1221.0966  ,  5887.545   ,
        2688.008   ,   630.548   , 11011.454   ,  2178.5608  ,
        2204.6887  ,  2405.5315  ,  2025.5892  ,  5275.1743  ,
        5551.207   ,  6967.389   , 10196.913   ,  5558.2217  ,
        4757.503   ,  7350.387   ,   867.49396 ,  2412.8066  ,
        1477.4897  ,  6158.814   ,  1770.656   ,  2645.9932  ,
        2676.9524  ,  7911.503   ,  2213.0483  ,  7673.335   ,
        3319.9587  ,  3186.685   ,  5941.4526  ,  5462.8496  ,
        2341.719   ,  6851.1055  ,  7948.1235  ,  3670.9434  ,
        3356.0398  ,  5108.787   ,  5541.607   ,  5076.8926  ,
        5916.6465  ,  4569.0576  ,  5270.9136  ,  3016.5386  ,
        5447.382   ,   551.5497  ,  1147.6566  ,  8343.904   ,
        2788.1548  ,  2589.6755  ,  1145.3463  ,  3261.1594  ,
         646.9372  , 12636.748   ,  6244.058   ,  6384.2124  ,
        2914.3635  ,  9500.79    ,  5194.358   ,  4308.387   ,
        8928.489   ,  5306.4893  ,  3229.1167  ,  2618.339   ,
        8103.677   , 10290.9795  ,  7333.595   ,  4122.5396  ,
        3544.2312  ,  3792.816   ,  1230.3373  ,  5310.217   ,
        3730.965   ,  3496.286   ,  4096.151   ,  5586.948   ,
       10550.73    ,  4312.939   ,  6183.5396  ,  2261.3982  ,
        3149.9224  ,  2407.6946  ,  6955.6836  ,   635.45337 ,
        6196.6416  ,  7342.783   ,   878.30225 ,  3611.346   ,
        6439.3735  ,  7613.263   ,  3870.934   ,  5510.7363  ,
        2356.2825  ,  5428.845   ,  3959.8984  ,  7221.2637  ,
         457.6002  ,  6067.2114  ,  5067.3467  ,  7890.9214  ,
         823.0958  ,  6825.2056  ,  4794.5356  ,  5455.642   ,
        6590.996   ,  4570.595   ,  1879.1857  , 10493.5205  ,
        6526.3438  ,  3605.7432  ,  4125.086   , 10402.865   ,
        4884.54    ,  4656.505   ,  2977.0054  ,   741.8489  ,
        3634.716   ,  6118.3486  ,  3268.6785  , 15202.168   ,
        6377.1074  ,  6664.5176  ,  1051.9023  ,   776.5908  ,
         668.38135 ,  4481.66    ,   673.29596 ,  1902.3583  ,
        3492.6792  ,  9636.016   ,  2360.0215  ,  4069.2527  ,
        4180.846   ,  6451.0356  ,  9472.75    ,   609.69165 ,
       10197.622   , 11786.633   ,   -54.710957,  3388.3384  ,
        6135.8794  ,  6443.607   ,  2457.0027  ,  5219.063   ,
        2739.4402  ,  2379.6267  ,   548.0271  ,  4425.061   ,
       10627.109   ,  8464.153   ,  8167.823   ,  4941.8257  ,
        7161.477   ,  3082.2905  ,  1862.1178  ,  4567.849   ,
        3820.767   ,  8198.254   ,  1741.461   ,   437.08197 ,
        3243.4639  ,  3934.5112  ,  2912.6538  ,  3714.863   ,
        6426.0015  ,  3576.3606  ,  3745.4758  ,  3648.0806  ,
        6158.0503  ,  9347.441   ,  3887.9104  ,  1582.0359  ,
        8430.802   ,  2379.0344  ,  5249.2485  ,  1819.5137  ,
        4678.032   , 10409.051   ,  7205.0557  ,  3203.3171  ,
        3893.295   ,  2909.2979  ,  2719.1707  , 13873.387   ,
        8001.2334  ,   272.18106 ,  2158.301   ,  1962.2631  ,
        7184.0767  ,  2738.9297  ,  8701.804   ,  9211.851   ,
       10275.9375  ,  1674.7549  ,  2942.949   ,  2146.8967  ,
        2377.9897  ,  3056.3604  ,  4499.8833  , 11133.848   ,
        5209.119   ,  1905.6722  ,  5560.7153  ,  1392.1544  ,
         872.3329  ,  7357.886   ,  1288.5813  ,   344.7077  ,
         881.0564  ,  3042.0706  ,  8411.27    ,   769.7421  ,
         742.70465 ,  9775.919   ,  3357.2007  ,   926.9052  ,
         700.0829  ,  2733.9119  , 11404.012   ,  1036.4309  ,
        5803.2905  ,  3036.5298  ,  6865.7046  ,  2150.8735  ,
        2426.7952  ,  4552.723   ,  2686.6995  ,  2929.8396  ,
        5219.257   ,  7901.1177  ,  3807.984   ,  3966.8186  ,
        2267.4734  ,  3332.0862  ,  7471.404   ,   111.642815,
         475.2721  ,  6097.1733  ,  1655.2606  ,  7374.147   ,
        4353.794   ,  1702.4052  ,  5305.0903  ,  3564.2207  ,
        3271.0845  ,  1360.2477  ,  4472.5796  ,  7216.686   ,
        5587.8066  ,  5281.0693  , 11446.376   ,  5084.8184  ,
        4610.406   ,  1717.5769  ,  9676.899   ,   366.4691  ,
        4438.647   ,  1161.6174  ,  2359.9214  ,  4354.085   ,
         631.4926  ,  9557.465   ,  3279.081   ,  5909.097   ,
        4819.1895  ,  7472.4106  ,  7132.729   ,  2513.4714  ,
         653.68427 , 16762.219   ,  5838.453   ,  3947.3064  ,
        6201.0044  ,  9290.316   ,  1952.3401  ,  3554.8416  ,
       11932.579   ,  3921.3577  ,  9934.727   ,  1805.502   ,
        4401.014   ,  1097.2072  ,  4120.4478  ,  7888.9224  ,
        4916.6206  ,  3636.2297  ,  2605.8887  ,  5872.051   ,
        3618.4001  ,  2840.0264  ,  5303.7544  ,   810.019   ,
        3972.7266  ,  3279.8381  ,  9289.6875  ,  3335.2305  ,
        7965.788   , 13652.7705  ,  4522.0044  ,   928.6203  ,
         810.88275 ,  2843.1672  ,  4206.1797  ,  4040.1052  ,
         959.2936  ,  3539.9297  ,  2760.3972  ,  3526.7427  ,
        5787.6216  ,  2215.3994  ,  3270.2266  ,  5764.322   ,
        3934.3557  ,  1304.4183  ,  2655.2922  ,  4143.4873  ,
        4001.9539  ,  5619.8423  ,  3431.4255  ,  3294.8281  ,
        4031.6711  ,   665.74615 ,   762.8977  ,  8522.468   ,
       10951.282   ,  3565.63    ,  1438.888   ,  2303.0352  ,
        5259.5513  ,  4549.509   ,  4585.9795  ,  5493.0996  ,
        3903.0107  ,   729.7462  ,  4240.635   ,  5246.304   ,
         710.90466 ,  1139.0186  ,  5978.936   ,  4707.355   ,
        -912.54297 ,  4617.174   ,  3738.0278  ,  2071.7166  ,
         701.6437  ,  4345.102   , 10994.072   ,   440.96735 ,
        2883.3096  ,  2426.8452  ,  1971.0156  ,  9225.976   ,
        5339.7305  ,  2750.136   ,  1049.725   ,  2234.2769  ,
        5376.8574  ,  2320.5063  ,  1541.6624  ,   509.2897  ,
        7358.4194  ,  5314.732   ,  1018.2478  ,  5959.3633  ,
         466.6144  ], dtype=float32)

In [64]:
from sklearn.metrics import mean_squared_error as MSE
import numpy as np
 
rmse = np.sqrt(MSE(y_test,y_preddd)) 
print("RMSE : % f" %(rmse))

RMSE :  444.823265

In [66]:
#CHECKING FOR CORRELATION

In [67]:
# find and remove correlated features
def correlation(dataset, threshold):
    col_corr = set() 
    corr_matrix = dataset.corr()
    for i in range(len(corr_matrix.columns)):
        for j in range(i):
            if abs(corr_matrix.iloc[i, j]) > threshold: 
                colname = corr_matrix.columns[i]  
                col_corr.add(colname)
    return col_corr

In [69]:
correlation(train_data,0.80)

{'instock_year'}

In [73]:
from sklearn.feature_selection import mutual_info_regression
mutual_data=mutual_info_regression(X,y)

In [74]:
mutual_info=pd.Series(mutual_data,index=X.columns)

In [75]:
mutual_info.sort_values(ascending=False)

Maximum_price_trans             1.462429
Minprice_square                 1.174217
Market_Category                 0.344078
Discount_avail                  0.310563
instock_month                   0.212819
instock_monthdate               0.190724
Grade                           0.070879
instock_day                     0.042169
instock_year                    0.018254
Demand                          0.006742
Loyalty_customer                0.006721
Product_Category_Hospitality    0.004683
Product_Category_Pet_care       0.003180
charges_2 (%)sq                 0.000000
Product_Category_Educational    0.000000
Product_Category_Cosmetics      0.000000
charges_1_trans                 0.000000
Product_Category_Fashion        0.000000
Product_Category_Home_decor     0.000000
Product_Category_Organic        0.000000
Product_Category_Repair         0.000000
Product_Category_Technology     0.000000
Stall_no                        0.000000
dtype: float64

In [89]:
mutual_info.nlargest(15)

Maximum_price_trans             1.462429
Minprice_square                 1.174217
Market_Category                 0.344078
Discount_avail                  0.310563
instock_month                   0.212819
instock_monthdate               0.190724
Grade                           0.070879
instock_day                     0.042169
instock_year                    0.018254
Demand                          0.006742
Loyalty_customer                0.006721
Product_Category_Hospitality    0.004683
Product_Category_Pet_care       0.003180
Stall_no                        0.000000
Product_Category_Cosmetics      0.000000
dtype: float64

In [90]:
X_train_1=X_train[['Maximum_price_trans','Minprice_square','Market_Category','Discount_avail','instock_monthdate','instock_month','Grade','instock_day','Demand','instock_year','Loyalty_customer','Product_Category_Hospitality','Product_Category_Pet_care']]
X_test_1=X_test[['Maximum_price_trans','Minprice_square','Market_Category','Discount_avail','instock_monthdate','instock_month','Grade','instock_day','Demand','instock_year','Loyalty_customer','Product_Category_Hospitality','Product_Category_Pet_care']]

In [91]:
from sklearn.ensemble import RandomForestRegressor
reg2 = RandomForestRegressor(max_depth = 15, random_state=0,n_estimators = 100,verbose = 1)
reg2.fit(X_train_1,y_train)

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done 100 out of 100 | elapsed:    2.1s finished

RandomForestRegressor(max_depth=15, random_state=0, verbose=1)

In [92]:
reg2.score(X_train_1,y_train)

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done 100 out of 100 | elapsed:    0.0s finished

0.9932270398501446

In [93]:
y_pr=reg2.predict(X_test_1)

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done 100 out of 100 | elapsed:    0.0s finished

In [94]:
r2_score(y_test,y_pr)

0.9811746374171664

In [95]:
from sklearn.metrics import mean_squared_error as MSE
import numpy as np
 
rmse = np.sqrt(MSE(y_test,y_pr)) 
print("RMSE : % f" %(rmse))

RMSE :  408.371856